h1, h3 {
    margin: 0 auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 1.75em;
}

h3 {
    font-size: 1em;
}

h1.primary {
    margin: 0 auto 10px auto;
}

h1.inverted, h3.inverted {
    background-color: rgba(34, 116, 165, 30%);
    border-radius: 1em;
}

.tdar-ui-container {
    position: fixed;
    margin: 1px;
    padding: 1px;
    max-width: 400px;
    max-height: 20%;
}

.tdar-ui-container.top {
    top: 30px;
}

.tdar-ui-container.left {
    left: 30px;
}

.tdar-ui-container.bottom {
    bottom: 15px;
}

.tdar-ui-container.right {
    right: 30px;
}

.tdar-ui-container.center {
    left: 50%;
    transform: translateX(-50%);
}

.tdar-ui-container>.wrapper {
    padding: 10px;
}

.wrapper {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.wrapper.verticle-grid {
    flex-direction: column;
}

.wrapper.horizontal-grid {
    flex-direction: row;
}

.wrapper.stripe {
    background-color: rgba(4, 167, 119, 30%);
    border-style: solid;
    border-width: 2px;
    border-color: rgba(4, 167, 119, 70%);
    border-radius: 5px;
}

.content {
    margin: 1px;
    padding: 0;
    max-width: 100%;
    overflow: hidden;
}

.content.primary {
    margin-bottom: 10px;
}

.content.text-center {
    text-align: center;
}

.content.block {
    padding: 5px;
    background-color: rgba(34, 116, 165, 30%);
}

.content.long {
    min-width: none;
    overflow: visible;
}

.icon {
    width: 1.75em;
    height: 1.75em;
    margin: 2px;
}

.wrapper>.icon {
    border: solid white 2px;
}

.wrapper>.icon.attacking {
    border: solid rgb(247, 92, 3) 2px;
    background-color: rgb(247, 92, 3);
}

.icon-header .icon {
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: middle;
}

.icon-header h1 {
    display: inline-block;
    vertical-align: middle;
    min-width: 100px;
    text-align: center;
}

.tdar-button {
    width: 60px;
    height: 100%;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    border: rgba(4, 167, 119, 70%) solid;
    border-radius: 5px;
    background-color: rgba(4, 167, 119, 30%);
}

.tdar-button.primary {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.tdar-button>.button-icon {
    margin: 0 auto 5px auto;
    width: 1.75em;
    height: 1.75em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.tdar-button>.header {
    text-align: center;
    margin: 0 auto 3px auto;
}

.tdar-button>.icon-header {
    text-align: center;
    margin: 0 auto;
}

.tdar-button>.icon-header .icon {
    margin: 0 3px 0 0;
    width: 1em;
    height: 1em;
    margin: 1px;
}

.tdar-button>.icon-header h3 {
    display: inline-block;
    vertical-align: middle;
    min-width: 60%;
    text-align: center;
}

.tdar-button.hide {
    display: none;
}

.tdar-button.disable {
    border: rgba(35, 53, 65, 70%) solid;
    background-color: rgba(35, 53, 65, 30%);
}

.tdar-button.disable>.icon-header h3 {
    color: rgb(220, 0, 0);
}

.tdar-button.hammer .button-icon {
    background-image: url(../renderer/assets/ui/hammer-nails.svg);
}

.tdar-button.beam .button-icon {
    background-image: url(../renderer/assets/ui/bubbling-beam.svg);
}

.tdar-button.gold .button-icon {
    background-image: url(../renderer/assets/ui/gold-mine.svg);
}

.tdar-button.bullets .button-icon {
    background-image: url(../renderer/assets/ui/bullets.svg);
}

.tdar-button.rocket .button-icon {
    background-image: url(../renderer/assets/ui/rocket.svg);
}

.tdar-button.upgrade .button-icon {
    background-image: url(../renderer/assets/ui/upgrade.svg);
}

.tdar-button.demolish .button-icon {
    background-image: url(../renderer/assets/ui/demolish.svg);
}

.tdar-button.anchor .button-icon {
    background-image: url(../renderer/assets/ui/anchor.svg);
}

.icon.barbute, .tdar-button.barbute .button-icon {
    background-image: url(../renderer/assets/ui/barbute.svg);
}

.icon.life-bar {
    background-image: url(../renderer/assets/ui/life-bar.svg);
}

.icon.two-coins {
    background-image: url(../renderer/assets/ui/two-coins.svg);
}
