<html>
    <head>
            <title>Web TDAR Admin Login</title>

            <script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script> 
            <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> 

            <!-- 新 Bootstrap 核心 CSS 文件 --> 
            <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> 
            <!-- 最新的 Bootstrap 核心 JavaScript 文件 --> 
            <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css"/>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.js"></script>

            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <!-- 載入 socket.io 的 js 檔，從後端抓的 --> 
            <script src="/socket.io/socket.io.js"></script> 
    
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
            <script src="javascript/admin.js"></script>
            

            
    </head>
    <body>
        <div id="particles-js" >






        </div>
    </body>
</html>