.bar {
  background-color: transparent;
  padding: 1.5em;
  position: fixed;
  transition: 0.4s;
  width: 100%;
  z-index: 1; }
  .bar .ui.massive.menu {
    background-color: transparent;
    border: none;
    box-shadow: none; }
  .bar.following {
    background-color: #6435c9;
    padding: 0.5em; }

.masthead {
  background-image: url("../assets/header.jpg");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6em 0 2em 0; }

.stripe {
  padding: 3em 0; }
  .stripe.alternate {
    background-color: #f2f3f5; }
